body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Passion One;
    font-size: 50px;
    color: #ffd900;
}

h2, h3, h4, h5, h6 {
    font-family: Fira Sans;
    color: #7cd7c2;
}

p, dl, ul {
    margin: 0px;
    font-family: Handlee;
    font-size: 18px;
    color: #67c50a;
}

a {
    text-decoration: none;
    color: #ffd900;
}

a:hover {
    text-decoration: underline;
    color: #7cd7c2;
}

hr {
    padding: 1px;
    border-top: 1px solid #ffd900;
    border-bottom: 1px solid #ffd900;
}

br {
    clear: both;
}

.head, .information, .foot, .contactform {
    margin: 0px;
    padding: 10px;
}

.head {
    background-color: #000000;
}

.head h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.head h2 {
    margin-top: 0px;
    padding-top: 0px;
}

.information {
    background-color: #033044;
}

.foot {
    background-color: #054e6f;
    font-size: 12px;
    color: #7cd7c2;
    text-align: center;
}

.contactform {
    background-color: #07638d;
}

.contact {
    text-decoration: none;
    background-color: #033044;
    color: #ffd900;
    padding: 2px 6px;
    border-top: 1px solid #07638d;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #07638d;
}

.img1 {
    position: absolute;
    top: 20px;
    left: 320px;
    border-radius: 10px;
}

.img2 {
    position: absolute;
    top: 61px;
    left: 480px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.img3 {
    position: absolute;
    top: 20px;
    left: 711px;
    border-radius: 10px;
}

.img, .list {
    width: 200px;
    float: left;
}

.label {
    line-height: 1.4;
    width: 70px;
    float: left;
}
